body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  margin: 0;
  border: 0;
  background: linear-gradient(to right, #f9c8a0, #f7c5da);
  padding: 1rem 0;
  min-height: 100vh;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.code {
  font-family: 'JetBrains Mono', monospace;
}
.container {
  padding: 1.2rem 1.5rem;
  border-radius: 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: calc(85vh);
  color: #555;
}
footer {
  text-align: center;
  margin: 2rem 0 1rem;
  color: #555;
  font-size: 0.8rem;
}
.gradientButton {
  color: #ffffff;
  background: linear-gradient(90deg, rgb(37, 160, 57) 0%, rgb(37, 119, 177) 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.gradientColor {
  color: transparent;
  background: linear-gradient(90deg, rgb(37, 160, 57) 0%, rgb(37, 119, 177) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headingColor {
  color: #2577b1;
}
.textLink {
  border-bottom: 1px dashed #aaa;
}
